body {
    font-family: Verdana, sans-serif;
   font-size: .9em;
   color: #ffffff;
   background-color: #CD853F;
   margin: 0
}
h1 {font-family: Verdana, sans-serif;
   font-size: .9em;
   color: #7BAFD4;
   margin: 0}
img {
  max-width: 100%;
  height: auto;

}
